.ant-upload-wrapper {
    // margin-left: -200px;

    .ant-upload-select {
        margin-left: -200px;
        height: 250px !important;
        width: 500px !important;
    }

    .ant-upload-list-item-container {
        margin-left: -200px !important;
        height: 250px !important;
        width: 500px !important;

    }
}